.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grad-bg {
  background: rgb(127, 40, 196);
  background: linear-gradient(
    180deg,
    rgba(127, 40, 196, 1) 0%,
    rgba(40, 31, 80, 1) 15%,
    rgba(15, 15, 15, 1) 30%
  );
}
@media (min-width: 768px) {
  .grad-bg {
    background: rgb(127, 40, 196);
    background: linear-gradient(
      180deg,
      rgba(127, 40, 196, 1) 0%,
      rgba(40, 31, 80, 1) 25%,
      rgba(15, 15, 15, 1) 50%
    );
  }
}
